* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Đảm bảo padding và border không làm tăng chiều rộng của phần tử */
    max-width: 100%;
    /* Đảm bảo phần tử không vượt quá chiều rộng của parent */
}

/* Đặt overflow-x ẩn cho body và html */
html,
body {
    overflow-x: hidden !important;
}

.content-header {
    background-image: url(../img/bg_header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.ft-nato {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.ft-nato-bold {
    font-weight: bold;
}

.ft-nato-regular {
    font-weight: 400;
}

.ft-poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.ft-poppins-bold {
    font-weight: bold;

}

.item-header-1 {
    background-color: #01aeee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.item-header-2 {
    background-color: #ff8200;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.item-header-3 {
    background-color: #eef02d;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.header-sp {
    background-image: url(../img/bg-navbar-top-sp.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.desc-title-2 {
    width: 110%;
}

.bg-155196 {
    background-color: #155196;
}

.bg-00b5d5 {
    background-color: #00b5d5;
}

.bg-dedede {
    background-color: #dedede;
}

.bg-1a71fc {
    background-color: #1a71fc;
}

.h-50px {
    height: max-content;
    padding: 4px;
}

.chart-img {
    margin-top: 1rem;
}

.check-content-white {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.bg-word {
    width: 80%;
    height: 100%;
    background-image: url(../img/bg_world.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: auto;
}

.fs-27.text-1057a7.mt-5 {
    border-bottom: 2px solid #1057a7;
}

.border-bot-cbf1ff {
    border-bottom: 20px solid #cbf1ff;
    width: fit-content;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.border-bot-cbf1ff>p {
    margin-bottom: -25px;
}

.body-content-1 {
    box-shadow: 10px 9px 23px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fffffff2;
    border: solid 1px #1057a7;
}

.body-content-2 {
    background-image: url(../img/bg-content-2-sp.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-widget-box {
    background-image: url(../img/bg-widget-box.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 5px;
    height: max-content;
    margin-top: 3rem !important;
    margin-left: 2rem;
}

.widget-box {
    width: 80%;
    height: 250px;
    max-height: max-content;
    margin: auto;
    margin-top: 2rem;
}

.widget-box>p {
    line-height: 1.3;
}

.img-widget {
    margin-top: -6rem;
}


.widget-box {
    text-align: center;
}

.img-widget {
    max-width: 100%;
    height: auto;
}

.title-widget {
    margin-top: 10px;
}

.text-left {
    text-align: left;
}

.ml-4 {
    margin-left: 1.5rem;
}

.w-5 {
    width: 5%;
}

.w-7 {
    width: 7%;
}

.w-10 {}

.w-15 {
    width: 15%;
}

.w-25 {
    width: 15%;
}

.w-85 {
    width: 85%;
}

.mr-5 {
    margin-right: 2rem;
}

.group-parter {
    background-color: #ffffff;
    border-radius: 10px;
    border: 4px solid #d6e9ff;
}

.group-award {
    border: 3px solid #d6e9ff;
    border-radius: 10px;
    background-color: white;
    height: 110px;
}

.group-award>.row {
    height: 110px;
}

.award-item-left {
    width: 271px;
    height: 65px;
}

.award-item-right {
    width: 271px;
    height: 110px;
}

.award-item {
    width: 100%;
    height: 40px;
    margin-bottom: 0.5rem;
}

.award-item>img {
    height: auto;
}

.j-ct-end {
    display: flex;
    justify-content: flex-end;
}

.j-ct-start {
    display: flex;
    justify-content: flex-start;
}

.d-img-award {
    width: 271px;
    height: 65px;
    position: relative;
    left: -0.7rem;
    background-image: url(../img/flag-group-award.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.d-img-award>img {
    max-width: 100% !important;
}

.fs-13 {
    font-size: 13px;
}

.group-award>* {
    line-height: 1;
}

.title-award {
    width: 85%;
    margin-bottom: 0;
}

.award-item {
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
}

.j-ct-end>.award-item {
    position: relative;
    left: 0.7rem;
}

.j-ct-start>.award-item {
    position: relative;
    right: 0.7rem;
}



.group-item-partner .row>[class*='col-'] {
    padding: 15px;
}

.img-partner {
    max-width: 100%;
    height: auto;
}

.img-partner-company {
    width: 100%;
}

.text-1057a7 {
    color: #1057a7;
}

.text-05afee {
    color: #05afee;
}

.text-155196 {
    color: #155196;
}

.text-00b5d5 {
    color: #00b5d5;
}

.fs-32 {
    font-size: 32px;
}

.fs-38-5 {
    font-size: 38.5px;
}

.fs-36-5 {
    font-size: 36.5px;
}

.fs-80 {
    font-size: 80px;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}

.fs-27 {
    font-size: 27px;
}

.fs-22-5 {
    font-size: 22.5px;
}

.fs-22 {
    font-size: 22px;
}

.mt-5 {
    margin-top: 5rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.w-fit-content {
    width: fit-content;
}

.m-auto {
    margin: auto;
}

.pt-3 {
    padding-top: 3rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.fs-19 {
    font-size: 19px;
}

.fs-22-c-white {
    font-size: 22px;
}


.fs-15 {
    font-size: 15px;
}

.fs-14 {
    font-size: 14px;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 90%;
}


.w-90vw-i {
    width: 90vw;
}

.item-service {
    margin-top: 0.5rem;
}

.img-content-services {
    position: absolute;
    left: 1.5rem;
    width: 80%;
}

.content-service {
    background-color: #509eef;
    border-radius: 10px;
}

.btn-banner-2,
.btn-banner-2-h {
    width: 35vw;
    height: 10vw;
    background-color: #ff8200;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 20px -11px;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.btn-banner-3,
.btn-banner-3-h {
    width: 35vw;
    height: 10vw;
    background-color: #eef02d;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 20px -11px;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}


.text-ffea00 {
    color: #ffea00;
}

.fs-30-d {
    font-size: 30px;
}

.group-item-content-3 {
    padding-left: -2px !important;
}

.item-content-3-1 {
    background-image: url(../img/bg-item-content-3-1.png);
    background-position: right;
    background-repeat: no-repeat;
}

.item-content-3-2 {
    background-image: url(../img/bg-item-content-3-2.png);
    background-position: right;
    background-repeat: no-repeat;
}

.item-content-3-1,
.item-content-3-2 {
    background-size: cover;
    width: 100%;
    /* Set width to fill the column */
    height: 100%;
    /* Let the height adjust proportionally */
    margin-top: 3rem;
}

.text-content-item-3>p.fs-19 {
    height: 25px;
}

.underline-eef02d {
    border-bottom: solid 5px #eef02d;
}

.underline-eef02d>span {
    position: relative;
    bottom: -10px;
}

.item-tick-content-4>span,
.item-tick-content-4>img {
    position: relative;
    bottom: -11px;
}

.cirle-stt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cirle-stt-1 {
    background-color: #155196;
}

.cirle-stt-2 {
    background-color: #00b5d5;
}

.text-content-item-3>* {
    margin-bottom: .2rem;
}

.body-content-4 {
    background-image: url(../img/bg-content-4-sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: fit-content;
}

.content-4 {
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 20px;
    width: 90%;
}

.phonenumber-item-content-4 {
    background-color: #01aeee;
    border-radius: 70px;
    cursor: pointer;
}

.phone-feilset>img {
    width: 15%;
}

.div-head-content-5 {
    background-image: url(../img/bg-content-5-1-sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}

.div-body-content-5 {
    background-image: url(../img/bg-content-5-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105% 112%;
}

.img-content-5 {
    width: 65%;
}

.price-content-5 {
    height: 639px;
}


.price-content-info {
    position: relative;
    z-index: 1;
    width: 60%;
    margin: auto;
}

.fs-32 {
    font-size: 28px;
}

.fs-29-price {
    font-size: 29px;
}

.fs-20-price {
    font-size: 20px;
}

.fs-26-price {
    font-size: 26px;
}

.fs-33-price {
    font-size: 33px;
}

.fs-40-price {
    font-size: 40px;
}


.price-item-content .mt-4,
.price-item-content .mt-3 {
    margin-top: 2rem;
}

.bottom-content-5 {
    background-color: #1472d3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.body-content-6 {
    background-image: url(../img/bg-content-6-sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.fs-200 {
    font-size: 200px;
}

.fs-24 {
    font-size: 24px;
}

.body-content-6 {
    box-shadow: 10px 9px 23px 3px rgba(0, 0, 0, 0.1);
}

.body-content-6>* {
    line-height: 1.2;
}

.content-slide-ct-7>* {
    line-height: 1.2;
}

.title-p-1 {
    width: 412px;
    margin: auto;
    position: relative;
    left: -1rem;
}

.title-p-1>* {
    text-align: center;
}

.w-80vw-i {
    width: 95%;
}

.list-phonenumber {
    background-color: white;
    border: solid 4px #c6dbff;
    border-radius: 20px;
}

.text-1472d3 {
    color: #1472d3;
}

.item-phonenumber {
    padding: 15px 0 5px 0;
}

.border-left-item-phonenumber::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 50%;
    border-right: 1px solid #1472d3;
    transform: translateY(-50%);
}

.item-phonenumber>p {
    line-height: 0.5;
}

.bg-head-2 {
    background-image: url(../img/bg-content-5-2-sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.group-button {
    margin: auto;
    margin-top: 1rem;
}

.item-ct-3 {
    width: 386px;
    height: 324px;
}

.item-ct-3>div {
    height: 200px;
}

.item-ct-3 {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}


.item-ct-3-1 {
    background-image: url(../img/01.png);
}

.item-ct-3-2 {
    background-image: url(../img/02.png);
}

.item-ct-3-3 {
    background-image: url(../img/03.png);
}

.item-ct-3-4 {
    background-image: url(../img/04.png);
}

.item-ct-3-5 {
    background-image: url(../img/05.png);
}

.item-ct-3-6 {
    background-image: url(../img/06.png);
}

.item-ct-3-7 {
    background-image: url(../img/07.png);
}

.item-ct-3-8 {
    background-image: url(../img/08.png);
}

.item-ct-3-9 {
    background-image: url(../img/09.png);
}

.item-ct-3-10 {
    background-image: url(../img/10.png);
}

.fs-22-ct-3 {
    font-size: 22px;
}

.bd-00bfe1 {
    border: 1px solid #00bfe1;
}

.bd-155298 {
    border: 1px solid #155298;
}

.text-00bfe1 {
    color: #00bfe1;
}

.text-067668 {
    color: #067668;
}

.text-1a5b8d {
    color: #1a5b8d;
}

.text-352789 {
    color: #352789;
}

.bd-black {
    border: 1px solid black;
}

.fs-50-ct-5 {
    font-size: 50px;
    text-wrap: nowrap;
}

.w-60 {
    width: 60%;
}

.fs-16{
    font-size: 16px;
}

.fs-40{
    font-size: 40px;
}

.mt--1{
    margin-top: -0.75rem;
}

.w-99{
    width: 99%;
}

@media (max-width: 1000px) {
    .bg-head-2-3 {
        margin-top: -7rem !important;
    }

    .title-widget>.fs-22 {
        font-size: 15px !important;
    }

    .widget-box>.fs-16-5 {
        font-size: 12px !important;
    }

    .img-widget {
        margin-top: -4rem;
    }

    .img-content-services {
        position: absolute;
        left: 1.5rem;
        width: 60%;
    }

    .bg-widget-box {
        margin-left: 0;
    }

    .item-content-3-1,
    .item-content-3-2 {
        background-size: inherit;
        background-position: left;
        margin-bottom: 4rem;
    }

    .cirle-stt {
        margin-left: 2.2rem;
    }

    .text-content-item-3 {
        padding-right: 3.3rem;
    }

    .text-content-item-3>hr {
        margin-top: 2rem !important;
    }

    .fs-36-5 {
        font-size: 24px;
    }

    .fs-38-5 {
        font-size: 26px;
    }

    .fs-32 {
        font-size: 17px;
    }

    .fs-20 {
        font-size: 12px;
    }

    .item-content-5-web,
    .item-content-5-document,
    .item-content-5-train {
        width: 100%;
    }

    .item-content-5-document,
    .item-content-5-train {
        margin-top: 2.5rem;
    }

    .btn-banner-2,
    .btn-banner-3 {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .btn-banner-2-h,
    .btn-banner-3-h {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 35vw;
    }

    .img-fluid {
        max-width: 80% !important;
    }

    .fs-200 {
        font-size: 180px;
    }

    .text-content-item-3 {
        margin: auto;
    }

    .fs-34 {
        font-size: 30px;
    }

    .fs-30-d {
        font-size: 28px;
    }


    .cirle-stt {
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .text-content-item-3 {
        padding-right: 3.3rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .fs-36-5 {
        font-size: 24px;
    }

    .fs-38-5 {
        font-size: 26px;
    }

    .fs-32 {
        font-size: 17px;
    }

    .item-content-5-web,
    .item-content-5-document,
    .item-content-5-train {
        width: 50%;
    }

    .fs-22 {
        font-size: 20px !important;
    }

    .fs-16-5 {
        font-size: 15px !important;
    }

    .bg-word>.content>.fs-27 {
        font-size: 16px !important;
    }

    .bg-word>.content>.fs-22 {
        font-size: 14px !important;
    }

    .underline-left-2>p.fs-24,
    .underline-left-1>p.fs-24,
    .underline-right-2>p.fs-24,
    .underline-right-1>p.fs-24 {
        font-size: 14px !important;
    }

    .div-head-content-5-2{
        padding-top: 2rem;
    }

    .content-price-ct-5 {
        margin-top: -2rem;
    }
}

@media (max-width: 928px) {
    .bg-word>.content>.fs-27 {
        font-size: 14px !important;
    }

    .bg-word>.content>.fs-22 {
        font-size: 12px !important;
    }

    .underline-left-2>p.fs-24,
    .underline-left-1>p.fs-24,
    .underline-right-2>p.fs-24,
    .underline-right-1>p.fs-24 {
        font-size: 12px !important;
    }

    .title-widget>p {
        font-size: 18px !important;
    }

    .widget-box>p {
        font-size: 14px !important;
    }

    .title-widget>.fs-22 {
        font-size: 13px !important;
    }

    .widget-box>.fs-16-5 {
        font-size: 10px !important;
    }

    .bg-head-2-3 {
        margin-top: -6rem !important;
    }
}

@media (max-width: 910px) {
    .img-content-5 {
        width: 70%;
    }

    .price-content-info{
        width: 65%;
    }

    .bg-head-2-3 {
        margin-top: -7rem !important;
    }
}

@media (max-width: 886px) {
   
    .title-widget>.fs-22 {
        font-size: 12px !important;
    }

    .widget-box>.fs-16-5 {
        font-size: 10px !important;
    }

    .fs-29-price {
        font-size: 26px;
    }

    .fs-20-price {
        font-size: 17px;
    }

    .fs-26-price {
        font-size: 23px;
    }

    .fs-33-price {
        font-size: 30px;
    }

    .fs-40-price {
        font-size: 36px;
    }

    .fs-50-ct-5 {
        font-size: 40px;
    }

    .bg-head-2-3 {
        margin-top: -4rem !important;
    }

    .bg-head-2-3 {
        margin-top: -9rem !important;
    }
}

@media (max-width: 825px) {
    .img-content-5 {
        width: 75%;
    }

    .price-content-info{
        width: 65%;
    }

    .w-50.text-content-item-3 {
        width: 60% !important;
    }

    .item-content-3-1,
    .item-content-3-2 {
        background-size: contain;
        background-position: left;
    }

    .item-content-3-1>.fs-19,
    .item-content-3-2>.fs-19 {
        font-size: 18px !important;
    }

    .bg-head-2-3 {
        margin-top: -10rem !important;
    }

}

@media (max-width: 810px) {
    .img-content-5 {
    }

    .price-content-info{
        width: 70%;
    }

    .bg-head-2-3 {
        margin-top: -7rem !important;
    }

}


@media (max-width: 768px) {

    .bg-head-2-3 {
        margin-top: -1rem !important;
    }

    .price-content-info {
        margin-top: 7rem;
    }

    .content-price-ct-5 {
        margin-top: 2rem;
    }


    .img-widget {
        margin-top: -5rem;
    }

    .fs-22-c-white {
        font-size: 20px;
    }

    .title-widget>.fs-22 {
        font-size: 22px !important;
    }

    .widget-box>.fs-16-5 {
        font-size: 16.5px !important;
    }

    .col-md-4 {
        flex: unset !important;
        max-width: unset !important;
    }

    .w-50.text-content-item-3 {
        width: 50% !important;
    }

    .text-content-item-3>hr {
        margin-top: 20px !important;
    }

    .item-content-3-1,
    .item-content-3-2 {
        background-size: contain;
        background-position: left;
    }

    .text-content-item-3 {
        margin: 0;
        padding: 20px 10px;
    }

    .bg-widget-box {
        background-size: contain !important;
        margin-left: 3rem !important;
    }

    .title-widget>p {
        font-size: 20px !important;
    }

    .container-fluid {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .item-header img {
        max-height: 30px;
    }

    .item-header>p {
        font-size: 14px;
    }

    .fs-11 {
        font-size: 10px !important;
    }

    .widget-box p {
        margin: 10px 0;
    }

    .group-item-partner .row>[class*='col-'] {
        padding: 10px;
    }

    .swiper-pagination {
        margin-top: 20px;
    }

    .fs-19 {
        font-size: 16px !important;
    }

    .fs-15 {
        font-size: 14px !important;
    }

    .fs-14 {
        font-size: 13px !important;
    }

    .fs-80 {
        font-size: 60px;
    }

    .fs-36-5 {
        font-size: 24px;
    }

    .fs-32 {
        font-size: 22px;
    }

    .fs-20 {
        font-size: 16px;
    }

    .fs-30 {
        font-size: 22px;
    }

    .fs-24 {
        font-size: 18px !important;
    }

    .fs-22 {
        font-size: 15px !important;
    }


    .fs-27 {
        font-size: 20px;
    }

    .fs-22-5 {
        font-size: 18px;
    }

    .pt-3 {
        padding-top: 1rem;
    }

    .pb-3 {
        padding-bottom: 1rem;
    }

    .mt-5 {
        margin-top: 2rem;
    }

    .mb-5 {
        margin-bottom: 2rem;
    }

    .img-fluid {
        max-width: 70% !important;
    }

    .underline-left-1,
    .underline-left-2,
    .underline-right-1,
    .underline-right-2 {
        justify-content: center;
    }

    .fs-200 {
        font-size: 160px;
    }

    .bg-widget-box {
        width: 100%;
        margin: auto;
    }

    .item-content-5-web,
    .item-content-5-document,
    .item-content-5-train {
        width: 80%;
    }

    .toggle-button-qa {
        position: relative;
        right: -2rem;
    }

    .price-content-5 {
        height: 500px;
    }
}

@media (max-width: 732px) {
    .fs-22-ct-3 {
        font-size: 20px !important;
    }

    .price-content-info {
        margin-top: 5rem;
    }

    .fs-20-price {
        font-size: 18px;
    }

    .fs-29-price {
        font-size: 23px;
    }

    .fs-33-price {
        font-size: 26px;
    }
}

@media (max-width: 767.98px) {
    .item-content-7 {
        height: auto;
        padding-bottom: 20px;
    }

    .content-disp-ct-7 {
        margin-left: 0;
    }

    .content-slide-ct-7 .fs-14 {
        font-size: 0.9rem;
    }

    .case-no .fs-50 {
        font-size: 2rem;
    }

    .title-content-4>div>p {
        font-size: 20px;
    }
}

@media (max-width: 710px) {
    .item-ct-3>div>.fs-15 {
        font-size: 14px !important;
    }

    .item-ct-3 {
        width: 386px;
        height: 300px;
    }

    .item-ct-3>div {}

    .fs-33-price {
        font-size: 24px;
    }

    .fs-20-price {
        font-size: 14px;
    }

    .fs-26-price {
        font-size: 20px;
    }

    .fs-40-price {
        font-size: 30px;
    }

    .bg-head-2-3 {
        margin-top: -4rem !important;
    }
}

@media (max-width: 690px) {
    .img-widget {
        margin-top: -6rem;
    }

    .title-widget>.fs-22 {
        font-size: 20px !important;
    }

    .widget-box>.fs-16-5 {
        font-size: 14.5px !important;
    }

    .text-content-item-3 {
        padding-top: 2rem;
    }

    .cirle-stt {
        margin-top: 2rem;
    }

    .item-content-3-1,
    .item-content-3-2 {
        margin-bottom: 1rem;
    }

    .fs-40-price {
        font-size: 36px;
    }

    .fs-50-ct-5 {
        font-size: 30px;
    }

    .fs-22-ct-3 {
        font-size: 18px !important;
    }

    .img-content-5 {
        width: 80%;
    }
}

@media (max-width: 675px) {

    .fs-22-ct-3 {
        font-size: 18px !important;
    }

    .item-ct-3>div>.fs-15 {
        font-size: 13px !important;
    }

    .bg-head-2-3 {
        margin-top: -4rem !important;
    }
}

@media (max-width: 660px) {
    .fs-33-price {
        font-size: 20px;
    }

    .fs-20-price {
        font-size: 14px;
    }

    .fs-26-price {
        font-size: 18px;
    }

    .fs-40-price {
        font-size: 28px;
    }
}

@media (max-width: 619px) {
    .item-ct-3 {
        width: 386px;
        height: 260px;
    }

    .fs-22-ct-3 {
        font-size: 16px !important;
    }

    .div-head-content-5-2{
        padding-top: 2rem;
    }

    .content-price-ct-5 {
        margin-top: -2rem;
    }

    .bg-head-2-3 {
        margin-top: -5rem !important;
    }
}

@media (max-width: 601px) {
.btn-banner-2, .btn-banner-3 {
    padding-left: 0rem;
    padding-right: 0rem;
}
}


@media (max-width: 599px) {
    .fs-22-ct-3 {
        font-size: 16px !important;
    }

    .fs-22-c-white {
        font-size: 17px;
    }

    .img-check-white {
        width: 13%;
    }

    .item-ct-3>div>.fs-15 {
        font-size: 11px !important;
    }

    .item-ct-3>div {
        height: 180px;
    }

    .btn-banner-2-h,
    .btn-banner-3-h {
        width: 50vw;
        height: auto;

    }

    .cirle-stt {
        margin-left: 0.7rem;
    }

    .text-content-item-3>p.fs-19 {
        height: 10px;
    }

    .item-content-3-1,
    .item-content-3-2 {
        line-height: 1;
    }

    .img-content-5 {
        height: 450px;
    }

    .div-head-content-5-2{
        padding-top: 2rem;
    }

    .content-price-ct-5 {
        margin-top: -2rem;
    }
}

@media (max-width: 592px) {
    .img-content-5 {
        width: 90%;
    }

    .price-content-info {
        width: 80%;
    }

}

@media (max-width: 576px) {

    .title-widget>.fs-22 {
        font-size: 18px !important;
    }

    .widget-box>.fs-16-5 {
        font-size: 12.5px !important;
    }


    .w-95 {
        width: 100%;
    }

    .tb-bt-footer{
        width: 90% !important;
    }

    .text-content-item-3 {
        padding-top: 1rem;
    }

    .cirle-stt {
        margin-top: 1rem;
        width: 40px;
        height: 40px;
    }

    .container-fluid {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .cirle-stt {
        margin-left: 20px;
    }

    .item-header img {
        max-height: 15px;
    }

    .item-header>p {
        font-size: 13px;
    }

    .item-tick-content-4>img {
        width: 20px;
        height: 20px;
    }

    .fs-19 {
        font-size: 14px !important;
    }

    .fs-18 {
        font-size: 13px !important;
    }

    .fs-15 {
        font-size: 13px;
    }

    .fs-14 {
        font-size: 12px !important;
    }

    .fs-24 {
        font-size: 16px !important;
    }

    .fs-22 {
        font-size: 14px !important;
    }

    .fs-11 {
        font-size: 8px !important;
    }

    .fs-80 {
        font-size: 40px;
    }

    .fs-36-5 {
        font-size: 25px;
    }

    .fs-38-5 {
        font-size: 27px;
    }

    .fs-32 {
        font-size: 18px;
    }

    .fs-20 {
        font-size: 12px;
    }

    .fs-30 {
        font-size: 16px;
    }

    .fs-27 {
        font-size: 16px;
    }

    .fs-22-5 {
        font-size: 14px;
    }

    .pt-3 {
        padding-top: 0.5rem;
    }

    .pb-3 {
        padding-bottom: 0.5rem;
    }

    .mt-5 {
        margin-top: 1rem;
    }

    .mb-5 {
        margin-bottom: 1rem;
    }

    .img-fluid {
        max-width: 80% !important;
    }

    .underline-left-1,
    .underline-left-2,
    .underline-right-1,
    .underline-right-2 {
        justify-content: center;
    }

    .fs-200 {
        font-size: 140px;
    }

    .item-content-3-1,
    .item-content-3-2 {
        margin-bottom: -1rem;
    }

    .bg-widget-box {
        background-size: contain !important;
        margin-left: 2rem !important;
    }

    .btn-banner-2-h,
    .btn-banner-3-h {
        width: fit-content;
    }

    .bg-head-2-3 {
        margin-top: -4rem !important;
    }
}


@media (max-width: 543px) {
    .fs-22-ct-3 {
        font-size: 14px !important;
    }

    .item-ct-3>div>.fs-15 {
        font-size: 11px !important;
    }

    .img-content-5 {
        width: 100%;
    }

    .price-content-info {
        width: 90%;
    }

    .ct5-head-title>.fs-27 {
        font-size: 14px;
    }

    .fs-50-ct-5 {
        font-size: 26px;
    }

    .w-10 > .mr-5{
        margin-right: 1rem !important;
    }

    
    .bg-head-2-3 {
        margin-top: -5rem !important;
    }
}

@media (max-width: 491px) {
    .fs-22-c-white {
        font-size: 12px;
    }

    .item-ct-3>div {
        height: 150px;
    }

    .fs-22-ct-3 {
        font-size: 14px !important;
        line-height: 1.2;
    }

    .item-ct-3>div>.fs-15 {
        font-size: 11px !important;
        line-height: 1.2;
    }

    hr.bd-00bfe1,
    hr.bd-155298 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .fs-22-ct-3.pt-3.pb-3 {
        padding-top: 0.3rem !important;
        padding-bottom: 0.3rem !important;
    }

    .bg-head-2-3 {
        margin-top: -6rem !important;
    }
}


@media (max-width: 487px) {

    .item-ct-3 {
        height: 170px;
    }

    .item-ct-3>div {
        height: 130px;
        width: 55% !important;
        padding-left: 5px;
    }

    hr.bd-00bfe1,
    hr.bd-155298 {}

    .bg-head-2-3 {
        margin-top: -6rem !important;
    }

}

@media (max-width: 480px) {
    
    .fs-29-price {
        font-size: 18px;
    }

    .total-price {
        margin-top: -1rem !important;
    }

    .img-content-5 {
        height: 400px;
    }

    .div-head-content-5-2{
        padding-top: 5rem;
    }

    .content-price-ct-5 {
        margin-top: -5rem;
    }

    .bg-head-2-3 {
        margin-top: -7rem !important;
    }


}

@media (max-width: 466px) {

    .fs-22-ct-3 {
        font-size: 12px !important;
    }

    .item-ct-3>div>.fs-15 {
        font-size: 10px !important;
        line-height: 1;
    }

    .fs-20-price {
        font-size: 12px;
    }
    
    .fs-26-price {
        font-size: 14px;
    }
    
    .fs-33-price {
        font-size: 17px;
    }

    .fs-40-price {
        font-size: 22px;
    }

    .img-content-5 {
        height: 380px;
    }

    .fs-50-ct-5{
        font-size: 20px;
    }

    .div-head-content-5-2{
        padding-top: 6rem;
    }

    .content-price-ct-5 {
        margin-top: -6rem;
    }

    .bg-head-2-3 {
        margin-top: -9rem !important;
    }

}




@media (max-width: 400px) {
    .img-widget {
        margin-top: -5rem;
    }

    .item-ct-3>div {
        height: 130px;
        width: 60% !important;
        padding-left: 5px;
    }

    .d-img-award>.fs-13 {
        font-size: 9px !important;
    }

    .fs-20-price {
        font-size: 10px;
    }
    
    .fs-26-price {
        font-size: 12px;
    }

    .fs-29-price {
        font-size: 14px;
    }
    
    .fs-33-price {
        font-size: 16px;
    }

    .fs-40-price {
        font-size: 18px;
    }

    .img-content-5 {
        height: 360px;
    }

    .div-head-content-5-2{
        padding-top: 7rem;
    }

    .content-price-ct-5 {
        margin-top: -7rem;
    }

    .bg-head-2-3 {
        margin-top: -10rem !important;
    }
}

.text-155298 {
    color: #155298;
}

.text-00bfe1 {
    color: #00bfe1;
}


.item-header img {
    max-height: 50px;
}

.fs-11 {
    font-size: 11px;
}

.ml-1-rem-i {
    margin-left: 0.2rem !important;
}

.item-content-7 {
    background-image: url(../img/bg-item-content-7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.case-no>* {
    line-height: 0.5;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {}

.bg-1057a7 {
    background-color: #1057a7;
}

.box-QA {
    width: 50px;
    height: inherit;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question>* {
    line-height: 1.2;
}

.bg-ff8200 {
    background-color: #ff8200;
}

.btn-submit-modal {
    width: 200px;
    height: 55px;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}


.content-footer {
    background-color: #0d57d8;
}

.contact-info>p {
    letter-spacing: 2px;
}

.item-footer>p {
    cursor: pointer;
}

.copyright-info {
    background-color: #002463;
    height: 54px;
    font-weight: 100;
}

.modal-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.modal-fade-white {
    background-color: #ffffffd8;
}


@media (max-width: 540px) {
    .bg-widget-box {
        background-size: contain !important;
    }

    .title-content-4>div>p {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .bg-widget-box {
        background-size: contain !important;
        margin-left: 1rem !important;
    }

    .widget-box>p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .fs-11 {
        font-size: 7px !important;
    }

    .fs-19 {
        font-size: 12px !important;
    }

    .fs-36-5 {
        font-size: 23px;
    }

    .fs-38-5 {
        font-size: 25px;
    }


    .item-header img {
        max-height: 25px;
    }

    .cirle-stt {}
}

@media (max-width: 475px) {
    .fs-11 {
        font-size: 6px !important;
    }

    .fs-19 {
        font-size: 10px !important;
    }

    .fs-36-5 {
        font-size: 20px;
    }

    .fs-38-5 {
        font-size: 22px;
    }


    .group-button>.row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-banner-2-h,
    .btn-banner-3-h {
        width: 100vw;
    }

    .item-header img {
        max-height: 20px;
    }

    .cirle-stt {
        margin-top: 0.5rem;
    }

    .col-6 {
        max-width: 80%;
    }

    
    .btn-banner-2,
    .btn-banner-3 {
        width: unset;
    }

    .phonenumber-item-content-4{
        width: 77%;
    }

    .btn-banner-2-f, .btn-banner-3-f {
        width: 65vw;
    }
}

@media (max-width: 442px) {
    .cirle-stt {
        margin-top: 1rem;
    }

}


@media (max-width: 430px) {

    table.w-95 {
        width: 100%;
    }

    .w-90vw-i {
        width: 95vw !important;
    }

    .tb-bt-footer{
        width: 90% !important;
    }

    .title-content-4>div>p {
        font-size: 14px;
    }

    .item-header img {
        max-height: 13px;
    }

    .item-header>p {
        font-size: 10px;
    }

    .fs-19 {
        font-size: 11px !important;
    }

    .fs-11 {
        font-size: 6px !important;
    }

    .fs-18 {
        font-size: 9px !important;
    }

    .fs-11 {
        font-size: 8px !important;
    }

    .fs-14 {
        font-size: 10px !important;
    }

    .fs-27 {
        font-size: 13px !important;
    }

    .fs-24 {
        font-size: 11px !important;
    }

    .fs-22 {
        font-size: 10px !important;
    }

    .fs-36-5 {
        font-size: 20px;
    }

    .fs-38-5 {
        font-size: 22px;
    }


    .fs-80 {
        font-size: 34px;
    }

    .fs-34 {
        font-size: 12px;
    }

    .fs-15 {
        font-size: 12px !important;
    }

    .cirle-stt {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-left: 27px;
        margin-top: -1px;
        font-size: 10px;
    }

    .item-content-3-1,
    .item-content-3-2 {
        background-position: top;
        background-size: contain;
        margin-bottom: -2rem;
    }

    .text-content-item-3 {
        margin-top: -10px;
        padding-top: 0px;
    }

    .box-QA>p {
        font-size: 12px;
    }

    .item-content-5-web,
    .item-content-5-document,
    .item-content-5-train {
        width: 100%;
    }

    .icon-check-content-5 {
        width: 50px;
    }

    .content-check-5 {
        font-size: 14px;
        width: 75%;
        margin: auto;
    }

    .title-award {
        padding-right: 0;
    }
}

@media (max-width: 400px) {
    .fs-14 {
        font-size: 8px !important;
    }

    .fs-19 {
        font-size: 10px !important;
    }

    .cirle-stt {
        margin-top: 0px;
    }

    .fs-36-5 {
        font-size: 18px;
    }

    .fs-38-5 {
        font-size: 20px;
    }


    .cirle-stt {
        margin-left: 25px;
        margin-top: -4px;
    }

    .widget-box {
        height: 200px;
    }

    .content-2 > .fs-16 {

    }

    .title-content-4>div>p {
        font-size: 13px;
    }

}

@media (max-width: 380px) {
    .cirle-stt {
        margin-left: 20px;
        margin-top: -4px;
    }

    .fs-14 {
        font-size: 7px !important;
    }

    .fs-19 {
        font-size: 9px !important;
    }

    .title-content-4>div>p {
        font-size: 10px;
    }

    .header-sp>div>.fs-80 {
        font-size: 20px !important;
    }

    .header-sp>div>.fs-36-5 {
        font-size: 14px;
    }

    .bg-01aeee.w-fit-content.m-auto>p {
        font-size: 14px !important;
    }

    .content-2>.fs-16.text-white {
        font-size: 13px !important;
    }

    .widget-box>p {
        padding-right: 0px;
    }

    .img-check-white {
        width: 15% !important;
        height: auto;
    }
}


.bor-t-white {
    border-top: 2px solid white;
}

.bor-b-white {
    border-bottom: 2px solid white;
}

.border-2-medium-white {
    border: 2px solid white;
}