* {
    margin: 0;
    padding: 0;
}

.content-header {
    background-image: url(../img/bg_header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 220px;
    height: 51px;
    top: 0;
    left: 182px;
    cursor: pointer;
}

.item-header-group {
    position: absolute;
    right: 0;
    top: 0;
}

.item-header-1 {
    width: 327.86px;
    height: 66.56px;
    background-image: url(../img/bg-item-header1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.item-header-2 {
    width: 198.38px;
    height: 66.98px;
    background-color: #ff8200;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.item-header-3 {
    width: 198.38px;
    height: 66.98px;
    background-color: #eef02d;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

.text-white {
    color: white;
}

.text-1057a7 {
    color: #1057a7;
}

.text-353535 {
    color: #353535;
}

.text-1a71fc {
    color: #1a71fc;
}

.text-05afee {
    color: #05afee;
}

.text-ffea00 {
    color: #ffea00;
}

.text-1472d3 {
    color: #1472d3;
}

.text-155196 {
    color: #155196;
}

.text-00b5d5 {
    color: #00b5d5;
}

.text-067668{
    color: #067668;
}

.text-1a5b8d{
    color: #1a5b8d;
}

.text-3f3290{
    color: #3f3290;
}

.text-688ae0{
    color: #688ae0;
}

.ft-nato {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.ft-nato-bold {
    font-weight: bold;
}

.ft-nato-regular {
    font-weight: 400;
}

.ft-poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.ft-poppins-bold {
    font-weight: bold;

}

.let-spac-2 {
    letter-spacing: 2px;
}

.h-50px {
    height: 50px;
}

.let-spac-4 {
    letter-spacing: 4px;
}

.mt-4-5 {
    margin-top: 2rem;
}


.w-fit-content {
    width: fit-content;
}

.banner {
    margin-top: 100px;
}


.bg-banner-dynamic {
    width: 100%;
    height: 360px;
    background-image: url(../img/bg_banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -250px;
}

.btn-banner-2 {
    width: 276.74px;
    height: 75.77px;
    background-color: #ff8200;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 20px -11px;
}

.btn-banner-3 {
    width: 276.74px;
    height: 75.77px;
    background-color: #eef02d;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 20px -11px;
}

.bg-body-content-1-dynamic {
    width: 100%;
    height: 500px;
    background-image: url(../img/back_blue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -237px;
    z-index: -1;
    position: relative;

}

.body-content-1 {
    box-shadow: 10px 9px 23px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: -250px;
    background-color: #fffffff2;
}

.bg-word {
    width: 80%;
    height: 100%;
    background-image: url(../img/bg_world.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
}

.border-2-bold-1057a7 {
    border: 4px solid #1057a7;
}

.border-top-thin-1057a7{
    border-top: 0.5px solid #1057a7;
}

.border-2-medium-1057a7 {
    border: 2px solid #1057a7;
}

.border-2-medium-white {
    border: 2px solid white;
}

.body-content-2 {
    background-image: url(../img/bg-content-2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.widget-box {
    width: 96%;
    margin: auto;
    height: 300px;
}

.bg-widget-box {
    background-image: url(../img/bg-widget-box.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.img-widget {
    margin-top: -3rem;
}

.title-widget {
    width: fit-content;
    border-bottom: 10px solid #fbc70e;
}

.title-widget>p {
    margin-bottom: -10px;
    margin-top: 10px;
}

.bg-partner-box {
    background-image: url(../img/bg-partner-box.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.group-award {
    background-image: url(../img/bg-award.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.award-item {
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
}

.content-check {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.content-check-1472d3 {
    border-top: solid 1px #1472d3;
    border-bottom: solid 1px #1472d3;
}

.list-phonenumber {
    background-image: url(../img/bg-list-phonenumber.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: max-content;
}

.border-bottom-3877de {
    border-bottom: 1px solid #3877de;
}

.phonenumber-item {
    padding: 1rem;
}

.phonenumber-item>p {
    margin: 0;
}

.chart-center-content {
    /* background-image: url(../img/bg-item-center-chart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    margin-top: -20px;
}

.body-content-3 {
    background-color: white;
    background-image: url(../img/bg-content-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.item-content-3-1 {
    background-image: url(../img/bg-item-content-3-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 292px;
    height: 261px;
}

.item-content-3-2 {
    background-image: url(../img/bg-item-content-3-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 292px;
    height: 261px;
}

.cirle-stt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cirle-stt-1 {
    background-color: #155196;
}

.cirle-stt-2 {
    background-color: #00b5d5;
}

.body-content-4 {
    background-image: url(../img/bg-content-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.content-4 {
    background-image: url(../img/bg-item-content-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.underline-eef02d {
    border-bottom: solid 10px #eef02d;
}

.underline-eef02d > span {
    position: relative;
    bottom: -10px;
}

.item-tick-content-4 > span, .item-tick-content-4 > img{
    position: relative;
    bottom: -11px; 
}

.phone-feilset > img{
    width: 45px;
    height: 45px;
}

.feildset-phonenumber{
    background-image: url(../img/bg-feildset-phone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 90%;
}

.feildset-phonenumber-white{
    background-image: url(../img/bg-feildset-phone-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 90%;
}

.title-feildset {
    position: relative;
    top:-8px;
}

.phone-feilset {
    position: relative;
    top:-10px;
}

.img-item-content-4{
    width: 105%;
    max-width: 100%;
}

.div-head-content-5{
    background-image: url(../img/bg-content-5-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}

.div-body-content-5{
    background-image: url(../img/bg-content-5-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: -10rem;
    z-index: 0;
}

.div-body-content-5  > div {
    padding-top: 7rem;
}

.item-content-5-web{
    background-image: url(../img/bg-content-5-web.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 3rem;
}

.item-content-5-document{
    background-image: url(../img/bg-content-5-document.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 3rem;
}

.item-content-5-train{
    background-image: url(../img/bg-content-5-train.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 3rem;
}

.price-large{
    position: relative;
    bottom: -7px;
}

.body-content-6{
    background-image: url(../img/bg-content-6.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.bot--40{
    position: relative;
    bottom: -40px;
}

.bot--30{
    position: relative;
    bottom: -30px;
}

.item-content-7{
    background-image: url(../img/bg-item-content-7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.case-no{
    line-height: 0.5;
}

.title-slide-ct-7{
    line-height: 1;
}

.bg-dedede{
    background-color: #dedede;
}

.bg-1a71fc{
    background-color: #1a71fc;
}

.bg-eef02d{
    background-color: #eef02d;
}

.toggle-button-qa{
    cursor: pointer;
}

.list-qa-ct-8{
    border-radius: 10px;
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.1);
}

.border-top-left {
    border-top-left-radius: 10px;
}

.border-bottom-left {
    border-bottom-left-radius: 10px;
}

.box-QA{
    width: 80px;
    height: 80px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-footer{
    background-color: #0d57d8;
}

.contact-info > p{
    letter-spacing: 2px;
}

.item-footer > p{
    cursor: pointer;
}

.copyright-info{
    background-color: #002463;
    height: 54px;
    font-weight: 100;
}

.modal-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.modal-fade-white{
    background-color: #ffffffd8;
}

.modal-content{
    border-radius: 10px !important;
    border: none !important;
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.1);
}

.modal-header{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.modal-title{
    font-size: 34px;
}

.btn-submit-modal{
    width: 200px;
    height: 55px;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

#img-item-center-chart{
    width: 120%;
}

@media only screen and (max-width: 1400px) {
    #img-item-center-chart{
        width: 100%;
    }
    .img-ticket-content-5{
        width: 80%;
    }
}