* {
    margin: 0;
    padding: 0;
}

.content-header {
    background-image: url(../img/bg_header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 220px;
    height: 51px;
    top: 0;
    left: 182px;
    cursor: pointer;
}

.item-header-group {
    position: absolute;
    right: 0;
    top: 0;
}

.item-header-1 {
    width: 327.86px;
    height: 66.56px;
    background-image: url(../img/bg-item-header1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.item-header-2 {
    width: 198.38px;
    height: 66.98px;
    background-color: #ff8200;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.item-header-3 {
    width: 198.38px;
    height: 66.98px;
    background-color: #eef02d;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

.text-white {
    color: white;
}

.text-1057a7 {
    color: #1057a7;
}

.text-353535 {
    color: #353535;
}

.text-1a71fc {
    color: #1a71fc;
}

.text-05afee {
    color: #05afee;
}

.text-ffea00 {
    color: #ffea00;
}

.text-1472d3 {
    color: #1472d3;
}

.text-155196 {
    color: #155196;
}

.text-00b5d5 {
    color: #00b5d5;
}

.text-067668{
    color: #067668;
}

.text-1a5b8d{
    color: #1a5b8d;
}

.text-3f3290{
    color: #3f3290;
}

.text-688ae0{
    color: #688ae0;
}

.ft-nato {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.ft-nato-bold {
    font-weight: bold;
}

.ft-nato-regular {
    font-weight: 400;
}

.ft-poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.ft-poppins-bold {
    font-weight: bold;

}

.let-spac-2 {
    letter-spacing: 2px;
}

.h-50px {
    height: 50px;
}

.let-spac-4 {
    letter-spacing: 4px;
}

.mt-4-5 {
    margin-top: 2rem;
}

.mt-2-5-rem {
    margin-top: 2.5rem;
}

.fs-14-5{
    font-size: 14.5px;
}

.w-fit-content {
    width: fit-content;
}

.banner {
    margin-top: 100px;
}


.bg-banner-dynamic {
    width: 100%;
    height: 360px;
    background-image: url(../img/bg_banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -250px;
}

.btn-banner-2 {
    width: 276.74px;
    height: 75.77px;
    background-color: #ff8200;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 20px -11px;
}

.btn-banner-3 {
    width: 276.74px;
    height: 75.77px;
    background-color: #eef02d;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 20px -11px;
}

.bg-body-content-1-dynamic {
    width: 100%;
    height: 500px;
    background-image: url(../img/back_blue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -237px;
    z-index: -1;
    position: relative;

}

.body-content-1 {
    box-shadow: 10px 9px 23px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: -250px;
    background-color: #fffffff2;
}

.bg-word {
    width: 80%;
    height: 100%;
    background-image: url(../img/bg_world.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
}

.border-2-bold-1057a7 {
    border: 4px solid #1057a7;
}

.border-top-thin-1057a7{
    border-top: 0.5px solid #1057a7;
}

.border-2-medium-1057a7 {
    border: 2px solid #1057a7;
}

.border-2-medium-white {
    border: 2px solid white;
}

.body-content-2 {
    background-image: url(../img/bg-content-2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 115% 84%;
}

.widget-box {
    width: 100%;
    margin: auto;
    height: 300px;
    margin-left: -15px;
}

.bg-widget-box {
    background-image: url(../img/bg-widget-box.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.img-widget {
    margin-top: -3rem;
}

.title-widget {
    width: fit-content;
    border-bottom: 10px solid #fbc70e;
}

.title-widget>p {
    margin-bottom: -10px;
    margin-top: 10px;
}

.bg-partner-box {
    background-image: url(../img/bg-partner-box.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.group-award {
    background-image: url(../img/bg-award.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.award-item {
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
}

.content-check {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.content-check-1472d3 {
    border-top: solid 1px #1472d3;
    border-bottom: solid 1px #1472d3;
}

.list-phonenumber {
    background-image: url(../img/bg-list-phonenumber.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: max-content;
}

.border-bottom-3877de {
    border-bottom: 1px solid #3877de;
}

.phonenumber-item {
    padding: 1rem;
}

.phonenumber-item>p {
    margin: 0;
}

.chart-center-content {
    /* background-image: url(../img/bg-item-center-chart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    margin-top: -20px;
}

.body-content-3 {
    background-color: white;
    background-image: url(../img/bg-content-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.item-content-3-1 {
    background-image: url(../img/bg-item-content-3-1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 265px;
    height: 252px;
}

.item-content-3-2 {
    background-image: url(../img/bg-item-content-3-2.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 265px;
    height: 252px;
}

.cirle-stt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cirle-stt-1 {
    background-color: #155196;
}

.cirle-stt-2 {
    background-color: #00b5d5;
}

.body-content-4 {
    background-image: url(../img/bg-content-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content-4 {
    background-image: url(../img/bg-item-content-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 105%;
}

.underline-eef02d {
    border-bottom: solid 10px #eef02d;
}

.underline-eef02d > span {
    position: relative;
    bottom: -10px;
}

.item-tick-content-4 > span, .item-tick-content-4 > img{
    position: relative;
    bottom: -11px; 
}

.phone-feilset > img{
    width: 45px;
    height: 45px;
}

.feildset-phonenumber{
    background-image: url(../img/bg-feildset-phone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 90%;
}

.feildset-phonenumber-white{
    background-image: url(../img/bg-feildset-phone-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 90%;
}

.title-feildset {
    position: relative;
    top:-8px;
}

.phone-feilset {
    position: relative;
    top:-10px;
}

.img-item-content-4{
    width: 105%;
    max-width: 100%;
}

.div-head-content-5{
    background-image: url(../img/bg-content-5-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}

.div-body-content-5{
    background-image: url(../img/bg-content-5-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: -10rem;
    z-index: 0;
}

.div-body-content-5  > div {
    padding-top: 7rem;
}

.item-content-5-web{
    background-image: url(../img/bg-content-5-web.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 3rem;
}

.item-content-5-document{
    background-image: url(../img/bg-content-5-document.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 3rem;
}

.item-content-5-train{
    background-image: url(../img/bg-content-5-train.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 3rem;
}

.price-large{
    position: relative;
    bottom: -7px;
}

.body-content-6{
    background-image: url(../img/bg-content-6.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.bot--40{
    position: relative;
    bottom: -40px;
}

.bot--30{
    position: relative;
    bottom: -30px;
}

.item-content-7{
    background-image: url(../img/bg-item-content-7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.case-no{
    line-height: 0.5;
}

.title-slide-ct-7{
    line-height: 1;
}


.toggle-button-qa{
    cursor: pointer;
}

.list-qa-ct-8{
    border-radius: 10px;
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.1);
}

.border-top-left {
    border-top-left-radius: 10px;
}

.border-bottom-left {
    border-bottom-left-radius: 10px;
}

.box-QA{
    width: 80px;
    height: 80px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1rem;
}

.content-footer{
    background-color: #0d57d8;
}

.contact-info > p{
    letter-spacing: 2px;
}

.item-footer > p{
    cursor: pointer;
}

.copyright-info{
    background-color: #002463;
    height: 54px;
    font-weight: 100;
}

.modal-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.modal-fade-white{
    background-color: #ffffffd8;
}

.modal-content{
    border-radius: 10px !important;
    border: none !important;
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.1);
}

.modal-header{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.modal-title{
    font-size: 34px;
}

.mt--8rem{
    margin-top: -8rem;
}

.btn-submit-modal{
    width: 200px;
    height: 55px;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

#img-item-center-chart{
    width: 120%;
}

.text-content-price-5{
    padding-left: 1rem;
}

.content-chart-1{
    margin-top: 1rem;
}

.title-p-1{
    width: 338px;
    margin: auto;
}

.title-p-1 > p {
    margin: auto !important;
    padding-top: 1rem;
    padding-left: 15px;
    padding-right: 15px;
}

.border-bot-cbf1ff{
    border-bottom: 20px solid #cbf1ff;
    width: fit-content;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.border-bot-cbf1ff > p{
    margin-bottom: -25px;
}

.text-content-t-price-5{
    /* align-items: end !important; */
}

.text-content-price-5 > p{
    text-wrap: nowrap;
}

.text-content-t-price-5 > div > p:nth-child(2){
    margin-bottom: 13px;
}

@media screen and (max-width: 1708px) {
    .phonenumber-item > .fs-20{
        font-size: 15px !important;
    }

    .fs-20{
        font-size: 16px !important;
    }

    .bg-word > .content > .fs-20 {
        font-size: 20px !important;
    }

    .fs-34-5{
        font-size: 30px !important;
    }

    .fs-26-2 {
        font-size: 24.2px !important;
    }

    .feildset-phonenumber{
        width: 100% !important;
        background-size: 85% 90%;
    }

    .feildset-phonenumber-white{
        width: 100% !important;
        background-size: 85% 90%;
    }
}

@media screen and (max-width: 1655px) {
    .phonenumber-item > .fs-20{
        font-size: 13px !important;
    }

    .phonenumber-item > .fs-16-5{
        font-size: 15.5px;
    }

    #item-check-white {
        margin-top: 5rem !important;
    }

    .text-content-price-5{
    }

    .text-content-item-3 > p{
        line-height: 1;
    }
}

@media screen and (max-width: 1635px) {
    .list-phonenumber{
        width: 35vw !important;
    }

    .arrow-chart-right{
        margin-left: 1rem !important;
    }
}

@media screen and (max-width: 1610px) {
    .list-phonenumber{
        /* width: 70vw !important; */
    }

    .arrow-chart-right{
        margin-left: 1rem !important;
        margin-right: -1rem;
    }
}


@media screen and (max-width: 1680px) {
    #img-item-center-chart{
        width: 897px;
        height: 751px;
    }
    .item-tick-content-4 > div, .item-tick-content-4 > span {
        font-size: 16px;
    }

    .content-chart-1 {
        margin-left: -5rem !important;
        margin-top: 0.5rem;
    }

    .content-chart-1 > p:nth-child(1) {
        font-size: 18px !important;
        width: 80%;
    }

    .content-chart-1 > p:nth-child(2) {
        font-size: 12px !important;
        width: 80%;
    }

    .content-chart-2{
        margin-top: 4rem !important;
        margin-left: 5.5rem !important;
    }

    .content-chart-2 > p:nth-child(1) {
        font-size: 18px !important;
        width: 80%;
    }
    
    .content-chart-2 > p:nth-child(2) {
        font-size: 12px !important;
        width: 80%;
    }

    .content-chart-3{
        margin-top: 4rem !important;
        margin-left: 8rem !important;
    }

    .content-chart-3 > p:nth-child(1) {
        font-size: 18px !important;
        width: 80%;
    }
    
    .content-chart-3 > p:nth-child(2) {
        font-size: 12px !important;
        width: 80%;
    }

    .content-chart-4{
        margin-top: 5rem !important;
        margin-left: 5.5rem !important;
    }

    .content-chart-4 > p:nth-child(1) {
        font-size: 18px !important;
        width: 80%;
    }
    
    .content-chart-4 > p:nth-child(2) {
        font-size: 12px !important;
        width: 80%;
    }

    .content-chart-5{
        margin-top: 4.5rem !important;
        margin-left: -5rem !important;
    }

    .content-chart-5 > p:nth-child(1) {
        font-size: 18px !important;
        width: 80%;
    }
    
    .content-chart-5 > p:nth-child(2) {
        font-size: 12px !important;
        width: 80%;
    }

    .check-content-white{
        margin-top: 3rem !important;
    }
}

@media screen and (max-width: 1600px) {
    .fs-30-h{
        font-size: 25px !important;
    }
}

@media screen and (max-width: 1600px) {
    .content-chart-1 {
        margin-left: -4.5rem !important;
    }

    .content-chart-1 > p:nth-child(1) {
        font-size: 18px !important;
        width: 80%;
    }

    .content-chart-1 > p:nth-child(2) {
        font-size: 12px !important;
        width: 80%;
    }

    .content-chart-2{
        margin-top: 3.8rem !important;
        margin-left: 6rem !important;
    }

    .content-chart-2 > p:nth-child(1) {
        font-size: 18px !important;
        width: 80%;
    }
    
    .content-chart-2 > p:nth-child(2) {
        font-size: 12px !important;
        width: 80%;
    }

    .content-chart-3{
        margin-top: 4rem !important;
        margin-left: 8rem !important;
    }

    .content-chart-3 > p:nth-child(1) {
        font-size: 18px !important;
        width: 80%;
    }
    
    .content-chart-3 > p:nth-child(2) {
        font-size: 12px !important;
        width: 80%;
    }

    .content-chart-4{
        margin-top: 5rem !important;
        margin-left: 6rem !important;
    }

    .content-chart-4 > p:nth-child(1) {
        font-size: 18px !important;
        width: 80%;
    }
    
    .content-chart-4 > p:nth-child(2) {
        font-size: 12px !important;
        width: 80%;
    }

    .content-chart-5{
        margin-top: 4.5rem !important;
        margin-left: -4rem !important;
    }

    .content-chart-5 > p:nth-child(1) {
        font-size: 18px !important;
        width: 80%;
    }
    
    .content-chart-5 > p:nth-child(2) {
        font-size: 12px !important;
        width: 80%;
    }

    .check-content-white{
        margin-top: 3rem !important;
    }

    .content-4 {
        background-size: 105% 105%;
        border-radius: 50px !important;
    }

    .btn-banner-2, .btn-banner-3 {
        width: 100% !important;
        height: 140%;
    }

    .item-tick-content-4 > div, .item-tick-content-4 > span {
        font-size: 16px;
    }

    .item-content-5-web, .item-content-5-document, .item-content-5-train {
        background-size: 100% 85%;
        background-position: top;
        height: 450px;
    }

    .item-content-5-web > .price-item-content{
        margin-top: 2rem !important;
    }

    .item-content-5-document > .price-item-content{
        margin-top: 2rem !important;
    }

    .item-content-5-train > .price-item-content{
        margin-top: 2rem !important;
    }

    .item-content-5-web > .price-item-content:nth-child(2),
    .item-content-5-document > .price-item-content:nth-child(2),
    .item-content-5-train > .price-item-content:nth-child(2){
        margin-top: -0.5rem !important;
    }

    .item-content-5-web > .price-item-content:nth-child(1) > div > div > div,
    .item-content-5-document > .price-item-content:nth-child(1) > div > div > div,
    .item-content-5-train > .price-item-content:nth-child(1) > div > div > div {
        font-size: 12px !important;
    }

    .item-content-5-web > div > div > div > div,
    .item-content-5-document > div > div > div > div,
    .item-content-5-train > div > div > div > div{
        font-size: 12px !important;
    }
    
    .content-footer-right > .content-right {
        width: 90% !important;
    }

    .text-content-price-5{
        padding-left: 10px;
    }

    .group-btn-2{
        margin-bottom: 1rem !important;
    }
}

@media screen and (max-width: 1708px) {
    #item-check-white {
        margin-top: 12rem !important;
    }
}

@media screen and (max-width: 1680px) {
    #item-check-white {
        margin-top: 4rem !important;
    }
}

@media screen and (max-width: 1573px) {
    .list-phonenumber > .phonenumber-item{
        width: 150px;
    }

    .list-phonenumber > .phonenumber-item > p{
        font-size: 13px !important;
    }

    #item-check-white {
        margin-top: 6.5rem !important;
    }

    .div-body-content-5 > div {
        width: 90% !important;
        margin: auto;
    }

    .div-body-content-5 > div > div > p {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 1369px) {
    .text-title-bg-1, .text-title-bg-2{
        font-size: 23px !important;
    }
}

@media screen and (max-width: 1272px) {
    .text-title-bg-1, .text-title-bg-2{
        font-size: 20px !important;
    }
}

@media screen and (max-width: 1520px) {
    .fs-34-5{
        font-size: 26px !important;
    }

    .fs-26-2 {
        font-size: 22.2px !important;
    }
}

@media screen and (max-width: 1500px) {
    .item-content-5-web > .total-price > .fs-20,
    .item-content-5-document > .total-price .fs-20,
    .item-content-5-train > .total-price .fs-20{
        font-size: 15px;
    }

    .item-content-5-web > .total-price > .fs-36-5,
    .item-content-5-document > .total-price .fs-36-5,
    .item-content-5-train > .total-price .fs-36-5{
        font-size: 30px;
    }

    .feildset-phonenumber{
        width: 100% !important;
        background-size: 100% 90% !important;
    }

    
    .feildset-phonenumber-white{
        width: 100% !important;
        background-size: 100% 90% !important;
    }
    
    .bg-word > .content > .fs-20 {
        font-size: 16px !important;
    }

    .text-content-price-5{
    }

    .text-content-t-price-5{
        justify-content: right !important;
    }
}


@media (max-width: 1491px) {
    .fs-26-2{
        font-size: 20px !important;
    }

    .bg-banner-dynamic {
        margin-top: -280px;
    }
}

@media screen and (max-width: 1268px) {
    .item-content-5-web,
    .item-content-5-document,
    .item-content-5-train{
        width: 96% !important;
    }

    .item-content-3-1, .item-content-3-2 {
        width: 240px;
        height: 230px;
    }
}

@media screen and (max-width: 1250px) {
    .btn-banner-2 , .btn-banner-3{
        font-size: 20px !important;
    }

    .div-body-content-5 > div > div > p {
        font-size: 12px !important;
    }

    .feildset-phonenumber{
        width: 100% !important;
        background-size: 120% 100% !important;
        border-left: 1px solid #002463;
        border-right: 1px solid #002463;
    }

    .feildset-phonenumber-white{
        width: 100% !important;
        background-size: 120% 100% !important;
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
    }

}
@media screen and (max-width: 1300px) {
    .text-content-t-price-5 > div > .fs-22-5{
        font-size: 19.5px !important;
    }
}

@media screen and (max-width: 1280px) {
    .btn-banner-2, .btn-banner-3 {
        width: 100% !important;
        height: 120%;
    }

    .feildset-phonenumber{
        width: 100% !important;
        background-size: 130% 100% !important;
        border-left: 1px solid #002463;
        border-right: 1px solid #002463;
    }

    .feildset-phonenumber-white{
        width: 100% !important;
        background-size: 130% 100% !important;
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
    }

    .total-price > p:nth-child(1) {
        font-size: 14px !important;
        margin-bottom: 10px;
    }

    .total-price > p:nth-child(2) {
        font-size: 24px !important;
    }

    .total-price > p:nth-child(3) {
        font-size: 14px !important;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 1205px) {
    .phone-feilset > .phonenumber {
        font-size: 25px !important;
    }

    .text-content-t-price-5.pl-4{
        padding-left: 5.5rem !important;
    }
}


@media screen and (max-width: 1474px) {
    .div-body-content-5 > div > div > p {
        font-size: 15px;
    }
}

@media screen and (max-width: 1476px) {
    .item-tick-content-4 > div, .item-tick-content-4 > span {
        font-size: 14px;
    }

    .phone-feilset > .phonenumber{
        font-size: 30px;
    }

    .img-item-content-4 {
        width: 80%;
    }

    .img-ticket-content-5{
        width: 70% !important;
    }

    .div-body-content-5 > div.row{
        width: 90%;
        margin: auto;
    }

    .check-content-white{
        margin-top: 3rem !important;
    }
}

@media only screen and (max-width: 1350px) {
    .title-widget > p{
        font-size: 16px !important;
    }

    .title-p-1 > p {
        font-size: 14px !important;
    }

    .title-p-1 {
        width: 250px;
    }

    .fs-34-5{
        font-size: 24px !important;
    }

    .fs-26-2 {
        font-size: 20.2px !important;
    }

}

@media only screen and (max-width: 1400px) {
    #img-item-center-chart{
        width: 100%;
    }
    .img-ticket-content-5{
        width: 80%;
    }
}

@media only screen and (max-width: 1425px) {

    .content-3{
        width: 80vw !important;
        margin: auto !important;
    }

    .list-phonenumber {
        width: fit-content !important;
    }

    .phonenumber-item{
        padding: 0.5rem;
    }

    #item-check-white{
        margin-top: 3rem !important;
    }

    .underline-left-2 > p.fs-24,
    .underline-left-1 > p.fs-24,
    .underline-right-2 > p.fs-24,
    .underline-right-1 > p.fs-24{
        font-size: 17px !important;
    }

    .fs-22{
        font-size: 18px !important;
    }

    .content-3-chart{
        width: 90% !important;
    }
    #img-item-center-chart{
        width: 660px;
        height: auto;
    }
    
    .mt-5-rem{
        margin-top: 4rem !important;
    }

    .content-chart-1{
        margin-top: 0.1rem !important;
        margin-left: -4rem !important;
    }

    .content-chart-1 > p:nth-child(1) {
        font-size: 14px !important;
        width: 80%;
    }

    .content-chart-1 > p:nth-child(2) {
        font-size: 9px !important;
        width: 80%;
    }

    .content-chart-2{
        margin-top: 1.8rem !important;
        margin-left: 3.5rem !important;
    }

    .content-chart-2 > p:nth-child(1) {
        font-size: 15px !important;
        width: 80%;
    }
    
    .content-chart-2 > p:nth-child(2) {
        font-size: 10px !important;
        width: 80%;
    }

    .content-chart-3{
        margin-top: 2.3rem !important;
        margin-left: 5.5rem !important;
    }

    .content-chart-3 > p:nth-child(1) {
        font-size: 15px !important;
        width: 80%;
    }
    
    .content-chart-3 > p:nth-child(2) {
        font-size: 10px !important;
        width: 80%;
    }

    .content-chart-4{
        margin-top: 3.1rem !important;
        margin-left: 3.8rem !important;
    }

    .content-chart-4 > p:nth-child(1) {
        font-size: 15px !important;
        width: 80%;
    }
    
    .content-chart-4 > p:nth-child(2) {
        font-size: 10px !important;
        width: 80%;
    }

    .content-chart-5{
        margin-top: 2.8rem !important;
        margin-left: -4rem !important;
    }

    .content-chart-5 > p:nth-child(1) {
        font-size: 15px !important;
    }

    .content-chart-5 > p:nth-child(2) {
        font-size: 10px !important;
    }

    .check-content-white > img {
        width: 70px;
    }

    .content-check > p {
        font-size: 14px !important;
    }

    .group-item-banner{
        margin-top: 1rem !important;
    }

    .mt-4-5 {
        margin-top: 1.5rem !important;
    }
}

@media screen and (max-width: 1285px) {

    .group-item-banner{
        margin-top: 0rem !important;
    }

    .mt-4-5 {
        margin-top: 0rem !important;
    }

    .fs-67-5{
        font-size: 50px !important;
    }

    .fs-34-5{
        font-size: 24px !important;
    }

    .let-spac-2 {
        letter-spacing: 0px !important;
    }

    .let-spac-4 {
        letter-spacing: 2px !important;
    }
}


@media screen and (max-width: 1181px) {
    .let-spac-4 {
        letter-spacing: 1px !important;
    }

    .fs-26-2{
        font-size: 19px !important;
    }

    .fs-19{
        font-size: 15px !important;
    }

    .fs-22-5{
        font-size: 19.5px !important;
    }

    .bg-banner-dynamic{
        margin-top: -300px;
    }

    .btn-banner-2,  .btn-banner-3{
        height: 65px;
    }

    .text-desc-1{
        font-size: 14px !important;
    }

    .fs-22 {
        font-size: 14px !important;
    }

    .underline-left-2 > p.fs-24,
    .underline-left-1 > p.fs-24,
    .underline-right-2 > p.fs-24,
    .underline-right-1 > p.fs-24{
        font-size: 14px !important;
    }

    .btn-banner-2, .btn-banner-3{
        height: 55px !important;
    }

    .item-content-3-1, .item-content-3-2 {
        width: 220px;
        height: 210px;
    }

    .text-content-item-3.w-50{
        width: 42% !important;
    }

    .cirle-stt{
        margin-left: 1rem !important;
        margin-top: -1rem !important;
    }

    .text-content-item-3 > .fs-14 {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 1145px) {
    .check-content-white{
        margin-top: 1.5rem !important;
        padding-top: 10px;
    }

    .fs-26-2{
        font-size: 19px !important;
    }

    .phonenumber-item{
        padding: 10px !important;
    }

    .fs-67-5 {
        font-size: 45px !important;
    }

    .item-footer > .fs-14{
        font-size: 12px !important;
    }

    .feildset-phonenumber{
        width: 100% !important;
        background-size: 130% 100% !important;
        border-left: 1px solid #002463;
        border-right: 1px solid #002463;
    }

    .feildset-phonenumber-white{
        width: 100% !important;
        background-size: 130% 100% !important;
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
    }

    .text-title-bg-1, .text-title-bg-2{
        font-size: 16px !important;
    }

    .fs-36-5{
        font-size: 28px !important;
    }

    .text-content-t-price-5.pl-4{
        padding-left: 4.5rem !important;
    }

    .item-content-5-web, .item-content-5-document, .item-content-5-train {
        width: 100% !important;
    }
}

@media screen and (max-width: 1131px) {
    .fs-67-5 {
        font-size: 40px !important;
    }

    .mt-4-5 {
        margin-top: 1.5rem;
    }

    .fs-34-5{
        font-size: 22px !important;
    }

    .fs-26-2{
        font-size: 14px !important;
    }

    .btn-banner-2,  .btn-banner-3{
        height: 50px;
        font-size: 20px !important;
    }

    .fs-36-5{
        font-size: 24px !important;
    }

}

@media screen and (max-width: 1091px) {
    .item-header-1 {
        width: 234.86px;
    }

    .fs-36-5 {
        font-size: 24px !important;
    }

    .fs-30-h {
        font-size: 16px !important;
    }

    .check-content-white{
        margin-top: 3.5rem !important;
    }

    .text-desc-1{
        font-size: 10px !important;
    }

    #img-content-chart{
        width: 75%;
        margin: auto;
        text-align: center;
        display: flex;
    }

    .fs-24{
        font-size: 14px !important;
    }

    .fs-22{
        font-size: 15px !important;
    }

}

@media screen and (max-width: 1081px) {
    .item-content-3-1, .item-content-3-2 {
        width: 200px;
        height: 180px;
    }

    .text-content-item-3 > p {
        font-size: 10px !important;
    }

    .text-content-item-3 {
        margin-top: -1rem;

    }
}

@media screen and (max-width: 1055px) {

    .fs-34-5{
        font-size: 18px !important;
    }

    .fs-11{
        font-size: 9px !important;
    }

    .btn-banner-2 , .btn-banner-3 {
        height: 40px;
    }

    .btn-banner-2 > table , .btn-banner-3 > table {
        width: 95% !important;
    }

    .btn-banner-2 , .btn-banner-3 {
        height: 50px;
    }


    .item-tick-content-4 > * {
        font-size: 12px !important;
    }

    .item-tick-content-4 > img {
        width: 14px;
        height: 14px;
    }

    .title-content-4 > div {
        height: fit-content !important;
    }

    .fs-36-5 {
        font-size: 16px !important;
    }

    .fs-19{
        font-size: 14px !important;
    }

    .phone-feilset > .phonenumber {
        font-size: 20px !important;
    }

    .fs-16{
        font-size: 12px !important;
    }

    .fs-14-5 {
        font-size: 10px !important;
    }

    .fs-14 {
        font-size: 10px !important;
    }

    .fs-11 {
        font-size: 9px !important;
    }

    .fs-20{
        font-size: 12px !important
    }

    .fs-22-5{
        font-size: 13px !important;
    }

    .fs-22{
        font-size: 15px !important;
    }

    .fs-16-5{
        font-size: 12.5px !important;
    }

    .fs-27{
        font-size: 18px !important;
    }

    .underline-left-2 > p.fs-24,
    .underline-left-1 > p.fs-24,
    .underline-right-2 > p.fs-24,
    .underline-right-1 > p.fs-24{
        font-size: 14px !important;
    }

    .chart-2 {
    }

    .group-award {
    }

    #img-content-chart{
        width: 75%;
        margin: auto;
        text-align: center;
        display: flex;
    }

    .content-3.mt-10 > .mt-10 {
        margin-top: 1rem !important;
    }

    .content-3.mt-10 {
        margin-top: 3rem;
    }

    .content-3.mt-10 > div.mt-5{
        padding-top: 2rem;
        padding-bottom: 6.2rem;
    }

    .case-no{
        margin-left: 1.5rem !important;
    }

    .ml--2-rem{
        margin-left: -1rem !important;
    }

    .ml--7-rem{
        margin-left: -5rem !important;
    }

    .content-right > div > div > .btn-banner-2,
    .content-right > div > div > .btn-banner-3{
        height: 55px !important;
    }

    .div-body-content-5{
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100% 85%;
        position: relative;
    }

    .ct5-head-title > .fs-36-5 {
        font-size: 24px !important; 
    }

    .ct5-head-title > .fs-14-5 {
        font-size: 14px !important; 
    }

    .item-content-5-web > .price-item-content,
    .item-content-5-document > .price-item-content,
    .item-content-5-train > .price-item-content {
        margin-top: 0 !important;
    }

    .div-head-content-5:nth-child(3){
        margin-top: -11rem !important;
    }

    .div-head-content-5:nth-child(5){
        margin-top: -13rem !important;
    }
}


@media screen and (max-width: 1055px) {
    .content-check-1472d3 > * {
        font-size: 12px;
    }

    .item-content-5-web > div > div > div > div, .item-content-5-document > div > div > div > div, .item-content-5-train > div > div > div > div {
        font-size: 8px !important;
    }

    .item-content-5-web, .item-content-5-document, .item-content-5-train {
        background-size: 100% 70%;
    }

    .list-phonenumber {
        background-size: 80% 90%;
        margin-top: 0 !important;
    }

    .widget-box {
    }
}


table {
    border-collapse: collapse;
}

.text-white {
    color: white;
}

.text-1057a7 {
    color: #1057a7;
}

.text-353535 {
    color: #353535;
}

.text-1a71fc {
    color: #1a71fc;
}

.text-05afee {
    color: #05afee;
}

.text-ffea00 {
    color: #ffea00;
}

.text-1472d3 {
    color: #1472d3;
}

.text-155196 {
    color: #155196;
}

.text-00b5d5 {
    color: #00b5d5;
}

.text-067668{
    color: #067668;
}

.text-1a5b8d{
    color: #1a5b8d;
}

.text-3f3290{
    color: #3f3290;
}

.text-688ae0{
    color: #688ae0;
}

.text-aae8ff{
    color: #aae8ff; 
}

.ft-nato {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.ft-nato-bold {
    font-weight: bold;
}

.ft-nato-regular {
    font-weight: 400;
}

.ft-poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.ft-poppins-bold {
    font-weight: bold;

}

.w-30 {
    width: 30% !important;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40% !important;
}

.w-50 {
    width: 50% !important;
}


.w-80 {
    width: 80%;
}

.w-84 {
    width: 84%;
}


.w-20 {
    width: 20%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.w-96 {
    width: 96%;
}

.w-98 {
    width: 98%;
}

.w-80vw-i {
    width: 80vw !important;
}

.w-90vw-i {
    width: 90vw !important;
}


.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 18px;
}

.fs-28 {
    font-size: 32px;
}

.fs-28 {
    font-size: 28px;
}

.fs-36 {
    font-size: 36px;
}

.fs-40 {
    font-size: 40px;
}

.fs-50 {
    font-size: 50px;
}

.fs-80 {
    font-size: 80px;
}

.fs-200 {
    font-size: 200px;
}

.fs-67-5 {
    font-size: 67.5px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-22-5 {
    font-size: 22.5px;
}

.fs-23 {
    font-size: 23px;
}

.fs-24 {
    font-size: 24px;
}

.fs-14-5 {
    font-size: 14.5px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16-5 {
    font-size: 16.5px;
}

.fs-30 {
    font-size: 30px;
}

.fs-30-h {
    font-size: 30px;
}

.fs-34-5 {
    font-size: 34.5px;
}

.fs-36-5 {
    font-size: 36.5px;
}

.fs-70{
    font-size: 70px;
}

.fs-26-2 {
    font-size: 26.2px;
}

.fs-27 {
    font-size: 27px;
}

.let-spac-2 {
    letter-spacing: 1px;
}

.h-50px {
    height: 50px;
}

.let-spac-4 {
    letter-spacing: 4px;
}

.mt-4-5 {
    margin-top: 2rem;
}


.w-fit-content {
    width: fit-content;
}

.banner {
    margin-top: 100px;
}

.bg-dedede{
    background-color: #dedede;
}

.bg-1a71fc{
    background-color: #1a71fc;
}

.bg-eef02d{
    background-color: #eef02d;
}

.bg-1057a7 {
    background-color: #1057a7;
}

.bg-155196 {
    background-color: #155196;
}

.bg-00b5d5 {
    background-color: #00b5d5;
}

.bg-0d57d8 {
    background-color: #0d57d8;
}

.bg-688ae0 {
    background-color: #688ae0;
}

.bg-ff8200 {
    background-color: #ff8200;
}

.bg-01aeee {
    background-color: #01aeee;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-3 {
    width: 3%;
}

.w-5 {
    width: 5%;
}

.w-7 {
    width: 7%;
}

.w-20 {
    width: 20%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.border-2-bold-1057a7 {
    border: 4px solid #1057a7;
}

.border-top-thin-1057a7{
    border-top: 0.5px solid #1057a7;
}

.border-2-medium-1057a7 {
    border: 2px solid #1057a7;
}

.border-2-medium-155196 {
    border: 2px solid #155196;
}

.border-2-medium-white {
    border: 2px solid white;
}

.mt-2-5{
    margin-top: .8rem;
}
.mt-2-5-rem {
    margin-top: 2.5rem;
}

.mt-4-rem {
    margin-top: 4rem;
}

.mt-7-rem {
    margin-top: 7rem;
}

.mt-6-rem {
    margin-top: 6rem;
}

.ml-1-rem-i{
    margin-left: 1rem !important;
}

.ml-4-rem {
    margin-left: 4rem;
}

.ml-10-5-rem {
    margin-left: 10.5rem;
}

.ml--2-rem{
    margin-left: -2rem;
}

.ml--7-rem{
    margin-left: -7rem;
}

.ml-12-rem {
    margin-left: 12.5rem;
}

.ml-15-5-rem{
    margin-left: 15.5rem;
}
.ml-13-rem {
    margin-left: 13rem;
}

.ml-15-rem {
    margin-left: 15rem;
}

.mt-4-5-rem {
    margin-top: 4.5rem;
}

.mt-4-8-rem {
    margin-top: 4.8rem;
}

.mt-5-rem {
    margin-top: 5rem;
}

.mt-10 {
    margin-top: 10rem;
}

.pt-4-5 {
    padding-top: 1.8rem;
}

.pt-0-6-rem {
    padding-top: 0.60rem;
}

.mr-4-5 {
    margin-right: 1.8rem;
}

.ml-4-5 {
    margin-left: 1.8rem;
}

.pl-2-5 {
    padding-left: 0.75rem;
}

.bot--40{
    position: relative;
    bottom: -40px;
}

.bot--30{
    position: relative;
    bottom: -30px;
}

.bg-dedede{
    background-color: #dedede;
}

.bg-1a71fc{
    background-color: #1a71fc;
}

.bg-eef02d{
    background-color: #eef02d;
}

.boder-left-thin-3877de{
    border-left: 1px solid #3877de;
}

.h-fit-content{
    height: fit-content !important;
}